<section id="blog">
  <div class="medium-column">
    <div class="headblock">
      <h1>Blog</h1>
      <% if @posts.any? %>
        <ul id="blog_archive">
          <%= render :partial => "blog/posts/listing", :collection => @posts, :as => 'post' %>      
        </ul>
      <% else %>
        Nothing posted yet.
      <% end %>
    </div>
  </div>
  <%= render :partial => 'layouts/sidebar' %>  
</section>
