*.rbc
*.rdb
*.sql
*.swp
*.swo
.*.swn
*~
.bundle
.sass-cache/
_site/
bench/
bin/
config/secrets.yml
config/database.yml
db/*.sqlite3
log/*.log
log/*
pkg/
server/
tmp/
tags
config/*.sphinx.conf
db/seeds.rb
.DS_Store
*/.DS_Store
public/assets/
public/avatars/*.png
db/sphinx

.c9revisions
