*.rbc
*.rdb
*.sql
*.swp
*.swo
*~
.bundle
.sass-cache/
_site/
bench/
bin/
config/secrets.yml
config/database.yml
db/*.sqlite3
log/*.log
log/*
pkg/
server/
tmp/
tags
config/initializers/omniauth.rb
config/initializers/recaptcha.rb
config/*.sphinx.conf
db/seeds.rb
.DS_Store
*/.DS_Store
public/avatars/*.png
public/assets/
db/sphinx
