*.rbc
*.rdb
*.sql
*.swp
*.swo
*~
.bundle
.sass-cache/
_site/
bench/
bin/
config/database.yml
db/*.sqlite3
log/*.log
pkg/
server/
tmp/
tags
config/initializers/omniauth.rb
config/initializers/recaptcha.rb
db/seeds.rb
.DS_Store
*/.DS_Store
app/assets/images/avatars/*.png
