<% if @comment.valid? %>
  window.location.reload();  
<% else %>
  list = '';
  <% @comment.errors.messages.each do |field,errors| %>
    list += '<p class="error"><%= field.to_s.capitalize %> <%= errors[0] %></p>';
  <% end %>

  $('span.errors').html(list);
<% end %>
