<section id="heading">
  <div class="motto">Discover a whole new concept of source code.</div>
  <div class="submotto">Search on over 50.000 code snippets!</div>

  <form method="get" action="/search/"> 
    <input type="text" x-webkit-speech name="what">
  </form>
</section>

<section id="ruler">
  <div class="inner">
    <div class="big-column">
      <h3>Recent</h3>
    </div>
    <div class="big-column">
      <h3>Trending</h3>
    </div>
    <div class="small-column">
      <h3>Latest Users</h3>
    </div>
  </div>
</section>
