<section id="home">

  <div class="big-column">
    <ul>
      <% @recent.each do |source| %>
        <%= render :partial => "source/listing", :locals => { :source => source } %>
    <% end %>
    </ul>
  </div>
  <div class="big-column">
    <ul>
      <%= render :partial => "source/listing", :collection => @popular, :as => 'source', :locals => { :show_views => true } %>
    </ul>
  </div>

  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: false } %>
</section>

<br style="clear:both"/>

<section class="pager">
  <%= will_paginate @recent %>
</section>
