<section id="heading">
  <h1>emoticode</h1>
  <span id="motto">... in sharing we trust!</span>
  <form method="get" action="/search/"> 
    <input type="text" x-webkit-speech name="query" placeholder="Search on over 50.000 code snippets!">
  </form>
</section>

<section id="ruler">
  <div class="inner">
    <div class="big-column">
      <strong>Recent</strong>
    </div>
    <div class="big-column">
      <strong>Popular</strong>
    </div>
    <div class="small-column">
      <strong>Latest Users</strong>
    </div>
  </div>
</section>

<section id="home">
  <div class="big-column">
    <ul>
      <% @recent.each do |source| %>
        <%= render :partial => "source/listing", :locals => { :source => source } %>
    <% end %>
    </ul>
  </div>
  <div class="big-column">
    <ul>
      <% @popular.each do |source| %>
        <%= render :partial => "source/listing", :locals => { :source => source, :show_views => true } %>
    <% end %>
    </ul>
  </div>

  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: false } %>
</section>

<br style="clear:both"/>

<section class="pager">
  <%= will_paginate @recent %>
</section>
