<section id="home">
  <% cache "home_sources_#{Source.public.count}_#{params[:page]}" do %>
    <div class="big-column">
      <ul>
        <% @recent.each do |source| %>
          <%= render :partial => "source/listing", :locals => { :source => source } %>
      <% end %>
      </ul>
    </div>
    <div class="big-column">
      <ul>
        <% @popular.each do |source| %>
          <%= render :partial => "source/listing", :locals => { :source => source, :show_views => true } %>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= render :partial => 'layouts/sidebar', :locals => { with_heading: false } %>
</section>

<br style="clear:both"/>

<section class="pager">
  <%= will_paginate @recent %>
</section>
