<%= link_to event.owner.username, user_profile_path(username:event.owner.username) %>
<%= render :partial => "events/#{event.type_string}", :locals => { event: event } %>  
<br/>
<span class="when"><%= time_ago_in_words event.created_at %> ago</span>
