<section id="page">
  <h1>About</h1>
  <p>
    <strong>EmotiCODE</strong> is a <strong>collaborative</strong> source code snippets aggregator and search engine but mostly a place where developers can find the <strong>answers</strong> they are searching for 
    and contribute with their own contents to <strong>help others</strong> with the same needs.
    <p>
    The main concept behind emoticode is <em>"as a developer i own a lot to people publishing source codes, snippets and guides on the internet, the less i can do is
    do my best to help the internet back"</em>, therefore we encourage people to register ( the process is pretty straightforward ) and post every bit of code they have/use/find on the internet,
    because even the smallest three-line-snippet could solve someone else problems while developing a project ... you never know :)
    </p>
    <p>You can also, as a <strong>registered user</strong>, mark snippets you find more interesting and/or usefull to you as your favorites, clicking on the <i class="icon-thumbs-up"></i> icon on
    the left of every element. This will allow you to find them easily in the future on your profile page and will let other user have an idea on your tastes or specific needs.</p>

    <h3>We <i class="icon-heart"></i> Open Source</h3>

    <p>EmotiCODE itself is an <strong>open source</strong> web application written in <strong>Ruby on Rails</strong>, its source code can be found, forked, patched and pulled on 
    <a href="https://github.com/evilsocket/emoticode" title="EmotiCODE GitHub Repository" target="_blank">GitHub</a>.</p>
    <p>The source code and every component are released under the <a href="https://github.com/evilsocket/emoticode/blob/master/LICENSE.md" title="GPL 3" target="_blank">GPL 3</a> License.</p>

    <h3>Sublime Text Plugin</h3>
    <img src="/sublime.png" style="float:left; width: 110px;margin-top: -10px;margin-left: -5px;margin-right: 10px;">
    <p>
    A Sublime Text plugin has been developed and finally released, you can install it using Package Manager, or manually downloading the files located on <a href="https://github.com/evilsocket/Sublime-Text-2-EmotiCODE-Plugin" title="EmotiCODE Sublime Text Plugin" target="_blank">GitHub</a>.
    </p>
    <p>
    The plugin itself is very similar to StackOverflow one, allowing you to search for custom or selected text on the EmotiCODE search engine for examples and/or snippets.
    For a future release the plugin will be able to post the code under your selection to EmotiCODE itself, using your EmotiCODE account in the configuration.  
    </p>
  </p>
</section>

