//= require_self
//= require_tree .
@import "variables";

html {
    position: relative;
    min-height: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: #2e7ab4;
    line-height: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.avatar {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    width: 50px;
    height: 50px;
}

p.error {
    color: red;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

ul.avatars {
    margin: 0;
    padding: 0;
}

div.dialog {
    display: none;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);

    div.title {
        color: #9da0a4;
        background-color: #e1e1e1;
        background-image: -moz-linear-gradient(#f8f8f8, #e1e1e1);
        background-image: -webkit-linear-gradient(#f8f8f8, #e1e1e1);
        background-image: linear-gradient(#f8f8f8, #e1e1e1);
        background-repeat: repeat-x;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
    }

    div.content {
        padding: 10px;
    }
}

#login {
    div.content {
        width: 500px;
        font-size: 15px;
        text-align: center;

        div.connect {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            height: 35px;

            ul {
                margin: 0;
                padding: 0;
                display: block;

                li {
                    float: left;
                    margin-right: 5px;

                    img {
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }    

        form {
            margin-top: 15px;
            input {
                width: 100%;
                font-size: 20px;
            }
        }

        a {
            display: block;
            margin-bottom: 15px;
        }
    }
}

#simplemodal-container a.modalCloseImg {
    background:url(/assets/x.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}

#simplemodal-overlay {
    opacity: .8;
    filter: alpha(opacity=80);
    background: black;
}

#sidebar {
    width: 19%;
    float: right;
    margin-right: 0.4em;

    div.heading {
        border-bottom: 2px solid $gradient_to; 
        margin-bottom: 10px;

        h3 {
            height: 10px;
        }
    }

    div.orange {
        border-bottom: 2px solid orange;
    }

    div.red {
        border-bottom: 2px solid #aa4643;
    }

    div.blue {
        border-bottom: 2px solid #4572a7;
    }

    div.cloud {
        text-align: justify;
    }
}

.pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    cursor: default; 

    a, span {
        padding: 0.2em 0.3em; 
    }

    a {
        text-decoration: none;

    }

    a:hover, a:focus {
        text-decoration: underline; 
    }

    .disabled {
        color: #aaaaaa; 
    }

    .current {
        font-style: normal;
        font-weight: bold;
        background-color: #bebebe;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.5;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
    }
}

div.small-column {
    width: 10%;
    float: left;
}

div.big-column {
    width: 40%;
    float: left;
}

div.medium-column {
    width: 70%;
    float: left;
}

div.huge-column {
    width: 80%;
    float: left;
}

#sidebar {
    float: right;
    overflow: hidden;

    ul {
        margin: 0;
        padding: 0;
    }
}

div.source {
    height: 75px;
    margin-bottom: 5px;

    span.author {
        display: block;
        float: left;
        width: 70px;
        height: 75px;
        text-align: center;
        font-size: 11px;
        margin-right: 5px;

        img.avatar {
            display: block;
            margin: 0 auto 5px auto;
        }

        a {
            color: #333;
        }
    }


    span.info {
        vertical-align: middle;
        display: table-cell;
        height: 75px;

        a.title {
            font-size: 12px;
            margin-top: -10px;
            display: block;
        }

        span.description {
            display: block;
            font-size: 11px;
        }

        span.meta {
            font-size: 10px;                    
            width: 100%;

            span.date {

            }
        }
    }
}


body {
    margin:0;
    padding:0;
    background: white;
    color: #888;
    font-weight: 300;
    font-size: 14px;

    #navbar {
        background-color: #282828;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        z-index: 1000;
        cursor: default;

        ul {
            margin: 0 auto;
            display: block;
            list-style-type: none;
            width: $wrapper-width;
            padding-left: 0;
            padding-right: 0;

            li {
                float:left;

                a {
                    padding: 0.4em 1em 0.5em;
                    margin: 0.6em 0.2em 0.6em 0.2em;
                    border-radius: 8px;
                    position: relative;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    outline: 0;
                    font-size: 12px;
                }

                a:hover
                {
                    background: #383838;
                }

                a:active
                {
                    background: #484848;
                }

                a.current:after {
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    left: 40%;
                    border-width: 0 10px 10px;
                    border-style: solid;
                    border-color: white transparent; 
                }

                #all-langs {
                    display: none;
                    min-width: 500px;
                    position: absolute;
                    background-color: #282828; 
                    padding: 10px;
                    font-size: 11px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    border-radius: 4px;

                    a {
                        margin: 0;
                        padding: 0;
                        float: left;
                    }

                    span {
                        float: right;
                        margin-right: 5px;
                    }
                }
            }
        }  
    }


    #sub-navbar {
        font-size: 12px;
        color: black;
        box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
        margin-top: 40px;
        background: white;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        height: 20px;

        div.inner {
            margin: 0 auto;
            display: block;
            width: $wrapper-width;

        }

        ul.left { float: left; }
        ul.right { float: right; }

        ul {
            list-style-type: none;
            margin: 0;
            padding-left: 0.4em;
            padding-right: 0.4em;
            margin-left: 0.6em;
            margin-right: 0.6em;

            li {
                float: left; 
                margin-right: 5px;
                padding-top: 3px;

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }  
    }

    #wrapper {
        width: $wrapper-width;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .pager {
        width: 100%;
        margin-top: 10px;
    }

    #footer {
        position: absolute;
        width: 100%;
        height: 40px;
        left: 0;
        bottom: 0;
        background-color: #282828;
        text-align: center;
        font-size: 10px;

        a, a:hover, a:active {
            color: white;
            text-decoration: none;
            font-weight: normal;
        }
    }
}#comments {
        width: 100%;
        margin-bottom: 150px;
        padding-top: 20px;

        h2 {
            border-bottom: 2px solid $gradient_to; 
            padding-bottom: 10px; 
            font-size: 14px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        ul.root {
            margin-left: -15px;
        }
    }

    li.comment {
        clear: both;    
        width:  100%;
        margin: 15px;
        padding-top: 15px;
        font-size: 13px;

        span.author {
            display: block;
            width: 70px;
            float: left;
            height: 75px;
            text-align: center;
            font-size: 11px;
            margin-right: 5px;

            img.avatar {
                display: block;
                margin: 0 auto 5px auto;
            }

            a {
                color: #333;
            }
        }

        span.content {
            display:block;
            margin-left: 15px;

            .meta {
                display: block;
                font-size: 10px;
                color: #ccc;
            }   
        }
    }

    div.create {
        margin-bottom: 20px;

        span.errors {
            color: red;
            font-weight: bold;
        }

        form {
            width: 100%;

            textarea {
                cursor: text;
                resize: none;
                display: block;
                width: 97.6%;
                border: 3px solid #ddd;
                padding: 6px 10px 8px;
                margin: 0;
                min-height: 40px;
                height: auto;
                line-height: 1.4;
                overflow-y: scroll;
                border-radius: 4px;
            }

            input[type="submit"] {
                display: block;
                float: right;
                margin-top: 5px;
            }
        }   
    }

