// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
    #passwords {
        width: 60%;
        margin: 0 auto;
  
        form {
            margin-top: 15px;
            input {
                width: 100%;
                font-size: 20px;
            }

            label {
                margin: .5em 0 .2em;
                font-weight: 500;
                padding: 15px 0 5px 0;
                display: block;
            }
        }
    }
}


