// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#badge {
    textarea {
        font: normal 12px/16px Consolas,Menlo,monospace;
        height: 50px;
        margin-bottom: 20px;
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

#profile {
    #userpanel {
        padding: 0 10px 5px 10px;

        h1 {
            background-color: #37383a;
            border: 1px solid #313233;

            color: #fefefe;
            padding: 5px;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 800;
            padding-left: 15px;

            img.imgavatar {
              float: left;
              margin-right: 3px;
              margin-top: -3px;
              margin-left: -12px;
              border: 1px solid #555;
            }

            ul.admin {
                margin: 0;
                padding: 0;
                float: right;

                li {
                    float: left;
                    margin-right: 5px;
                    font-size: 11px;
                }
            }
        }

        div.aboutme {
            background-color: #545659;
            color: #fefefe;
            padding: 20px;
            margin-top: 0;
            margin-bottom: 0;
            border-bottom: 1px solid rgb(46, 47, 49);

            em {
                color: #999;
                text-shadow: 1px 0 #555;
            }
        }

        ul.icons {
            background-color: #727479;
            border-color: #707070;
            padding: 10px 20px;
            height: 20px;
            margin-top: 0;
            border-top: 1px solid rgb(112, 112, 112);
            box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.07);
            text-transform: uppercase;
            font-size: 12px;

            li {
                float: left;
                margin-right: 20px;
                padding-top: 2px;

                a, span {
                    color: #FEFEFF;
                }

                
                span.follow {
                    a {
                        color: #888;
                        text-transform: none;
                    }

                    a.following {
                        color: white;
                    }
                }
            }

            li.r {
                float: right;
                margin-right: 0;
                margin-left: 20px;

                a, span {
                    color: #727479 + 70;
                }
            }
        }
    }

    #sources {
        border-top: 1px solid #eee;

        h2 {
            border-bottom: 2px solid #aa4643;
            padding-bottom: 10px;
            font-size: 14px;
        }

        ul {
            margin: 0;
            padding: 0;
        }
    }

    #comments {
        margin: 7px;
        padding-top: 1px;
        padding-right: 15px;
        margin-top: 20px;
        margin-bottom: 150px;
    }

    #sidebar {
        div.rating {
            text-align: center;
            font-size: 12px;
            color: #555;

            div.stars {
                unicode-bidi: bidi-override;
                direction: rtl;
                font-size: 30px;
                margin-top: 20px;

                form {
                    display: inline;

                    a {
                        background: transparent;
                        border: none;
                        color: black;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        font-size: 29px;
                        text-decoration: none;
                    }

                    a:hover:before,
                    a:hover ~ a:before {
                        content: "\2605";
                        position: absolute;
                        text-decoration: none;
                    }
                }

                a {
                    background: transparent;
                    border: none;
                    color: black;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    font-size: 29px;
                    text-decoration: none;
                }

                a:hover:before,
                a:hover ~ a:before {
                    content: "\2605";
                    position: absolute;
                    text-decoration: none;
                }
            }
        }

        div.languages {
            padding-top: 10px;
            margin-top: 15px;

            ul {
                margin: 0;
                padding: 0;
                display: block;

                li {
                    display: block;
                    margin-bottom: 3px;

                    div.bar {
                        width: 100%;
                        position: relative;

                        div.percentage {
                            background-color: #D2E6FC;
                            text-align: center;
                            height: 15px;

                            span {
                                display: inline-block;
                                position: absolute;
                                width: 100%;
                                left: 0;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }

        span.badge {
            a {
                display: block;
                font-size: 15px;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}

#settings {
    span.follow { 
        a {
            line-height: 25px;
        }
    }
}

#profile_tabs {
    margin: 0 15px;
    padding: 0;
    display: block;

    li {
        float: left;
        margin-right: 10px;

        a {
            color: #343131;
            font-weight: 100;
            font-size: 12px; 
            text-transform: uppercase;
        }

        a.current {
            font-weight: 800;
        }
    }
}
