// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#badge {
    textarea {
        font: normal 12px/16px Consolas,Menlo,monospace;
        height: 50px;
        margin-bottom: 20px;
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

#profile {
    #publisher {
        margin: 20px 10px 0;

        span.user {
            display: block;
            text-align: center;
            font-size: 12px;

            img.avatar {
                display: block;
                margin: 0 auto 5px auto;
            }

            a {
                color: #333;
            }
        }

        span.info {
            display: block; 
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-size: 11px;
        }

        span.auths {
            display: block; 
            width: 100%;
            margin-top: 5px;
            text-align: center;
            font-size: 11px;

            img {
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            }
        }
    }

    #sources {
        border-top: 1px solid #eee;
        margin-bottom: 50px;

        ul {
            margin: 0;
            padding: 0;
            display: block;

            div.source {
                height: 55px;
            }
        }
    }

    #sidebar {
        div.rating {
            text-align: center;
            font-size: 12px;
            color: #aaa;

            div.stars {
                unicode-bidi: bidi-override;
                direction: rtl;
                font-size: 30px;
                margin-top: 20px;

                form {
                    display: inline;

                    a {
                        background: transparent;
                        border: none;
                        color: black;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        font-size: 29px;
                        text-decoration: none;    
                    }

                    a:hover:before,
                    a:hover ~ a:before {
                        content: "\2605";
                        position: absolute;
                        text-decoration: none;
                    }
                }

                a {
                    background: transparent;
                    border: none;
                    color: black;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    font-size: 29px;
                    text-decoration: none;    
                }

                a:hover:before,
                a:hover ~ a:before {
                    content: "\2605";
                    position: absolute;
                    text-decoration: none;
                }
            }
        }

        div.languages {
            ul {
                margin: 0;
                padding: 0;
                display: block;

                li {
                    display: block;
                    margin-bottom: 3px;

                    div.bar {
                        width: 100%;
                        position: relative;

                        div.percentage {
                            background-color: #D2E6FC;
                            text-align: center;
                            height: 15px;

                            span {
                                display: inline-block;
                                position: absolute;
                                width: 100%;
                                left: 0;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }   

        span.badge {
            a {
                display: block;
                color: #333;
                text-align: center;
                font-size: 12px;
                padding: .5em 1.5em;
                color: #444;
                color: rgba(0,0,0,.8);
                border: 1px solid #999;
                border: 0 rgba(0,0,0,0);
                background-color: #E6E6E6;
                text-decoration: none;
                border-radius: 2px;
                -webkit-font-smoothing: antialiased;
                -webkit-transition: .1s linear -webkit-box-shadow;
                -moz-transition: .1s linear -moz-box-shadow;
                -ms-transition: .1s linear box-shadow;
                -o-transition: .1s linear box-shadow;
                transition: .1s linear box-shadow;
            }

            a:hover {
                text-decoration: none;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
                background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
                background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
                background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
                background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
                background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
                background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));         
            }

        }
    }
}
