// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
    div.login {
        width: 60%;
        margin: 0 auto;

        form {
            margin-top: 15px;
            input {
                width: 100%;
                font-size: 20px;
            }
        }

        a {
            display: block;
            margin-bottom: 15px;
        }
    }

    div.login.headblock {
        margin-top: 50px;
        padding: 1px 20px 20px 20px;
    }
}
