// Place all the styles related to the source controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


div.medium-column {
    width: 69%;
}

#sidebar {
    ul.related {
        li {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
}

#embed {
    textarea {
        font: normal 12px/16px Consolas,Menlo,monospace;
        height: 200px;
        margin: 0;
        width: 515px;
    }
}

#source {
    div.medium-column {
        width: 75%;
    }

    #sidebar {
        width: 300px;

        .post-button {
            width: 240px;
        }

        ul.events {
            li {
                div.content {
                    width: 270px;
                }
            }
        }
    }

    #author {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    #publisher {
        margin: 20px 20px 0;
        background: #fff;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: rgba(0,0,0,0.15) 0px 1px 3px 0px;
        border-radius: 3px;
        padding: 5px;

        div.pointer {
            width: 0;
            height: 0;
            border-left: 25px solid white;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            float: right;
            margin-right: -15px;
        }

        span.author {
            display: block;
            text-align: center;
            font-size: 12px;

            figure.avatar {
                display: block;
                margin: 0 auto 5px auto;
            }

            a {
                color: #333;
            }
        }

        span.info {
            display: block;
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-size: 13px;
            line-height: 20px;
        }

        #share {
            text-align: center;
            position: absolute;
            top: 350px;
            margin-left: 15px;
            margin-top: 40px;
        }

        #share.fixed {
            position: fixed;
            top: 0;
            margin-top: 60px;
        }
    }

    ul.buttons {
        margin: 0;
        padding: 5px 0 3px 0;
        width: 960px;
        font-size: 12px;
        text-align: left;
        color: #333;
        text-shadow: 0 1px 0 #fff;
        background-color: #eaeaea;
        background-image: -moz-linear-gradient(#fafafa, #eaeaea);
        background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
        background-image: linear-gradient(#fafafa, #eaeaea);
        background-repeat: repeat-x;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 27px;
        border: 1px solid #eee;
        margin-left: -10px;

        li {
            float: right;
            margin-right: 15px;

            a {
                color: #888;
                font-weight: 100px;
            }

            a:hover {
                color: #666;
            }
        }
    }

    div.highlight {
        min-height: 500px;
    }

    div.headblock {
        h1 {
            padding-top: 12px;
            text-transform: uppercase;
        }
    }

    div.related {
        margin: -10px;

        h3 {
            margin: 0;
            font-size: 14px;
            margin-left: 10px;
            margin-top: 20px;
            font-weight: 500;
            text-shadow: 1px 0 white;
        }
    }
}

#source-create,
#source-update {
    width: 100%;
    margin-top: 15px;
    padding: 20px;

    form {
        div.head {
            margin-bottom: 20px;
            input, select {
                height: 30px;
            }

            input.title {
                font-size: 13px;
                width: 1000px;
            }
        }

        textarea {
            width: 100%;
            margin-bottom: 10px;
            font-size: 12px;
            font-family: monospace;
            min-height: 100px;
        }

        textarea.code {
            min-height: 400px;
        }

        label {
            font-weight: 500;
            padding: 15px 0 5px 0;
        }
    }

}

.ssummary {
    color: #555;
    font-size: 12px;
    padding: 5px 20px !important;
    margin-bottom: 5px !important;
    text-align: justify;
    position: relative;
    font-size: 13px;

    div.larrow {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        position: absolute;
        top: 40px;
        left: -9px;
    }

    div.avatar {
        float: left;
        margin-top: 14px;
        margin-right: 5px;
    }

    div.hseparator {
        clear: both;
        border-top: 1px solid #efefef;
        margin: 15px 0;
        width: 300px;
        margin-left: -20px;
    }

    a {
        color: #555;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        display: table;
        table-layout: fixed;
        width: 100%;

        li {
            display: table-cell;
            text-align: center;
            color: #999;
            text-shadow: 1px 0 #eee;
            font-size: 15px;

            span.count {
                display: block;
                font-size: 12px;
                border: 1px solid #eee;
                width: 50px;
                height: 25px;
                margin: 0 auto;
                padding-top: 10px;
                margin-bottom: 3px;
                border-radius: 3px;
                background: #fcfcfc;
            }

            a {
                color: #999;
            }

            a:hover {
                text-decoration: none;
            }
        }       
    }

    div.share {
        a {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

#epiceditor {
    border:1px solid #ccc;    
    width: 100%;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: .3s linear border;
    -moz-transition: .3s linear border;
    -ms-transition: .3s linear border;
    -o-transition: .3s linear border;
    transition: .3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
}

div.description {
    code {
        padding: 5px;
        font-size: 11px;
    }

    code,
    tt{
        margin:0 2px;
        padding:0 5px;
        white-space:nowrap;
        border:1px solid #eaeaea;
        background-color:#f8f8f8;
        border-radius:3px;
    }

    pre>code{
        margin:0;
        padding:0;
        white-space:pre;
        border:none;
        background:transparent;
    }

    pre{
        background-color:#f8f8f8;
        border:1px solid #ccc;
        font-size:13px;
        line-height:19px;
        overflow:auto;
        padding:6px 10px;
        border-radius:3px;
    }

    pre code,
    pre tt{
        background-color:transparent;
        border:none;
    } 
}
