// Place all the styles related to the source controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

div.medium-column {
    width: 69%;
}

#source {
    #publisher {
        margin: 20px 20px 0;

        span.author {
            display: block;
            text-align: center;
            font-size: 12px;

            img.avatar {
                display: block;
                margin: 0 auto 5px auto;
            }

            a {
                color: #333;
            }
        }

        span.info {
            display: block; 
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-size: 11px;
        }
    }

    p {
        margin-top: -15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    #comments {
        width: 100%;
        margin-bottom: 150px;
        padding-top: 20px;

        h2 {
            border-bottom: 2px solid $gradient_to; 
            padding-bottom: 10px; 
            font-size: 14px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        ul.root {
            margin-left: -15px;
        }
    }

    li.comment {
        clear: both;    
        width:  100%;
        margin: 15px;
        padding-top: 15px;
        font-size: 13px;

        span.author {
            display: block;
            width: 70px;
            float: left;
            height: 75px;
            text-align: center;
            font-size: 11px;
            margin-right: 5px;

            img.avatar {
                display: block;
                margin: 0 auto 5px auto;
            }

            a {
                color: #333;
            }
        }

        span.content {
            display:block;
            margin-left: 15px;

            .meta {
                display: block;
                font-size: 10px;
                color: #ccc;
            }   
        }
    }

    div.create {
        margin-bottom: 20px;

        span.errors {
            color: red;
            font-weight: bold;
        }

        form {
            width: 100%;

            textarea {
                cursor: text;
                resize: none;
                display: block;
                width: 97.6%;
                border: 3px solid #ddd;
                padding: 6px 10px 8px;
                margin: 0;
                min-height: 40px;
                height: auto;
                line-height: 1.4;
                overflow-y: scroll;
                border-radius: 4px;
            }

            input[type="submit"] {
                display: block;
                float: right;
                margin-top: 5px;
            }
        }   
    }
} 
