<div class="heading">
  <h3>Be Social!</h3>
</div>
<div class="social">
  <ul>
    <li class="fb">
      <div class="fb-like" data-href="http://www.facebook.com/pages/EmotiCODE/475488679182886" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </li>
    <li class="po">
      <div>
        <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/105672627985088123672" data-rel="publisher"></div>
      </div>
    </li>
    <li class="tw">
      <div>
        <a href="https://twitter.com/emoticodedotnet" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" data-lang="en">Follow Us</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </li>
    <li class="rss">
      <a href="http://feeds.feedburner.com/emoticode" title="Subscribe to our Feeds!">Subscribe to our Feeds</a>
    </li>
  </ul>
</div>

