<% cache( 'language_browser', :expires_in => 1.day ) do %>
  <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
      <% done = 0 %>
      <% @languages.each_with_index do |language,i| %>
          <% done += 1 %>
          <td>
              <%= link_to_language language %>
              <span><%= language.sources_count %></span>
          </td>
          <% if i > 0 && ( i + 1 ) % 4 == 0 %>
              </tr>
              <tr>
          <% end %>
      <% end %>
      <% left = ( done % 4 )
      if left
        ( 4 - left ).times { %><td></td><% }
        %> </tr> <%
      end
      %>
  </table>
<% end %>
