<% if with_heading %>
  <div class="heading blue">
    <h3>Latest Users</h3>
  </div>
<% end %>

<% cache( "latest_users_widget_#{User.confirmed.count}" ) do %>
<ul class="avatars">
  <% @users.each do |user| %>
  <li>
    <a href="<%= user_profile_path(username:user.username) %>" title="<%= user.username %> profile">
      <%= avatar_tag user %>
    </a>
  </li>
  <% end %>
</ul>
<br style="clear:both"/>
<% end %>

