<div id="social">
  <ul>
    <li class="s-twitter">
      <a href="http://twitter.com/EmotiCodeDotNet" rel="nofollow external" target="_blank" title="Follow us on Twitter">
        <i class="icon-twitter"></i>
        <large><%= @followers[:twitter] %></large>
        <small>Followers</small>
      </a>
    </li>
    <li class="s-facebook">
      <a href="https://www.facebook.com/pages/EmotiCODE/475488679182886" rel="nofollow external" target="_blank" title="Follow us on Facebook">
        <i class="icon-facebook"></i>
        <large><%= @followers[:facebook] %></large>
        <small>Fans</small>
      </a>
    </li>
    <li class="s-google-plus">
      <a href="https://plus.google.com/105672627985088123672" rel="nofollow external" target="_blank" title="Follow us on Google+">
        <i class="icon-google-plus"></i>
        <large><%= @followers[:gplus] %></large>
        <small>Followers</small>
      </a>
    </li>
  </ul>
</div>
